/* Scss Document */

@import url("https://use.typekit.net/dpv5gwp.css");

/*IMAGES*/

$greengraphic: "../images/loginbg.jpg";
$successgraphic: "../images/success.jpg";
$registergraphic: "../images/register.jpg";


/* Body Setup */
body, html {
	height: 100%;
}


/* COLORS */

  $maingreen: #83bf4a;
  $mainblue:  #0c293d;
  $medblue: #4584b5;
  $ltblue: #94c8d5;
  $greenblue: #35858e;
  $ltgrey: #d6d7dd;
  $dkgrey: #434c55;

/* Buttons */

// Regular

.btn-maingreen{
	background-color: $maingreen!important;
	color: white;
}

.btn-mainblue{
	background-color: $mainblue!important;
	color: white;
}

// Outline
	  
.btn-maingreen-outline {
	background-color: white;
	border: 1px solid $maingreen!important;
	color: $maingreen;
}

.btn-mainblue-outline {
	background-color: white;
	border: 1px solid $mainblue!important;
	color: $mainblue;
}



/**************************** FONTS **************************/

h1, h2, h3, h4, h5, h6{
	font-family: forma-djr-text, sans-serif;
	font-weight: 700;
}

p {
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $mainblue;
	&:hover{
		color: lighten( $mainblue, 20% );
		text-decoration: none;
	}
	
}


/************************* Navbar *****************************/
.navbar.navlogin.navbar-default {
	margin-bottom: 0px;
}
nav{
	font-family: forma-djr-text, sans-serif;
		font-weight: 300;
	-webkit-box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
	box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
}

.navbar{
	padding-top: 11px;
}
.nav-link{
	color: $mainblue;
	font-weight: 400;
	&:hover {
        color: $maingreen;
    }
}

.nav-dropdown{
	background-color: transparent;
	border: none;
	&:focus {
        box-shadow: none;
		background-color: rgba(227,227,227,1.00);
    }
}

.profile-img-nav{
	width: 30px;
	border: thin solid $mainblue;
	border-radius: 20px;
	margin-top: 5px;
}

.nav-txt {
	padding-left: 10px;
}

.action-btn{
	padding-top: 8px;
	padding-bottom: 5px;
}

.cued-logo-nav{
	width: 35px;
  	padding-right: 15px;
}

img.nextstepgo-logo-nav{
	width: 150px;
}

.nav-dashboard{
	padding: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

/************************ Sidebar ********************************/

#collapse-it{
	height: 100%;
	background-color: $dkgrey;
}

#sidebar-btn{
	background-color: none;
	color: white;
	margin-top: 20px;
	text-align: right;
	margin-right: 20px;
	width: 50px;
	margin-left: 150px;
	
}

.gradient-bar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#96c898+0,75ac96+29,6c84a7+70,b2b8c4+100 */
	background: #96c898; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(#96c898 0%, #75ac96 29%, #6c84a7 70%, #b2b8c4 100%);
	background: -o-linear-gradient(#96c898 0%, #75ac96 29%, #6c84a7 70%, #b2b8c4 100%);
	background: linear-gradient(#96c898 0%, #75ac96 29%, #6c84a7 70%, #b2b8c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c898', endColorstr='#b2b8c4',GradientType=0 ); /* IE6-9 */
	max-width: 10px;
	padding: 0px;
	margin-left: -10px;
}

.profile-img{
	border-radius: 100px;
	width: 80%;
	margin: auto;
	margin: 10px;
	margin-left: 10px;
}

.bus-name-header{
	font-size: 23px;
	padding-top: 30px;
}

.edit-text{
	line-height: 0px;
	font-size: 10px;
}

.profile-table{
	margin-bottom: 20px;
}

.edit-icon{
	height:13px;
}

.sign-out{
	text-align: center;
	padding-right: 20px;
	padding-bottom: 10px;
	width: 80%;
}

.profile-img-box{
	width: 40%;
	text-align: center;
}

.profile-bar{
	height: 200px;
	background-color:rgba(230,230,230,1.00);
}

.nav-item-side {
	background-color: $dkgrey;
	height: 40px;
	margin-bottom: 3px;

	a {
		color:rgba(197,197,197,1.00);
		border-bottom: solid thin black;
	}
}

.sidebar-links{
	margin-top: 20px;
}

.sidebar-active{
	border-left: solid thick $maingreen;
	background-color: lighten($dkgrey, 10%);
	.nav-link{
		margin-left: -5px;
	}
}

.edit-btn{
	font-size: 10px;
	padding-top: 15px;
}

.btn-sign-out{
	height: 30px;
	font-size: 13px;
	font-weight: 300;
	
}

.sidebar-expanded{
	
}


.collapsed-sidebar{
	.sidebar-links{
		text-align: center;
	}
	.bus-name{
		display: none;
	}
	.edit-btn{
		display: none;
	}
}

/************************* Login Page ****************************/

.login-screen{
	height: 100%;
	background-image: url($greengraphic);
	background-size: 110% 120%;
}

.passwordhelp {
	color: rgba(118,118,118,1.00);
	&:hover {
		color: darken($dkgrey, 30% );
	}
}

.inactive-btn{
	border: 1px solid rgba(198,198,198,1.00);
	margin-bottom: 15px;
	width: 100px;
	&:hover {
		background-color: rgba(236,236,236,1.00);
	}
}

.active-btn{
	border: 1px solid rgba(198,198,198,1.00);
	background-color: $maingreen;
	margin-bottom: 15px;
	color: white;
	width: 100px;
}

%cardimages {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.login-img{
	@extend %cardimages;
	background-image: url($successgraphic);	
}

.register-img{
	@extend %cardimages;
	background-image: url($registergraphic);	
}

.welcome-card{
	width: 950px;
	height: 75%;
	margin: auto;
}

.border-white{
	border: 10px solid white;
}

.login-card-body{
	padding: 40px;
	padding-top: 10px;
}

.loginheader{
	margin-bottom: 0px;
	margin-top: 30px;
}

.desc-text{
	font-size: 12px;
	color:rgba(163,163,163,1.00);
	margin-bottom: 20px;
}

.form-text{
	font-size: 10px;
}

.min-imput{
	border: none;
	border-bottom: 1px solid $dkgrey;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.00);
	&:focus{
		background-color: rgba(106,106,106,0.20);
		box-shadow: none;
	}
}

.loginlabel{
	color: grey;
	font-weight: 300;
}

.submitbutton {
	width: 100%;
	border: none;
	margin-top: 40px;
	&:hover {
        background-color: darken($maingreen, 10% )!important;
		color: white;
    }
}

.registerbutton {
	width: 100%;
	&:hover {
        background-color: $mainblue!important;
		color: white;
    }
}

.cued-attr{
	display: inline;
	color: white;
	font-size: 14px;
	padding-right: 7px;
}

.cued-logo{
	width: 40px;
	padding-right: 15px;
}


.greenbg{
	background-image: url($greengraphic);
	background-size: 110% 120%;
	height: 100%;
}

.loginfooter {
	background-color: rgba(0,0,0,0.00)!important;
	text-align: right;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footerimgsm{
	width: 30px;
}

.poweredby{
	font-size: 12px;
}


/*************************** Register *********************************/

.gearsimg{
	width: 80%;
	margin-left: 15%;
}

.footerimgmd {
	width: 50px;
}

.mastfoot{
	margin-top: 10%!important;
}

.negmargin {
	margin-top: -15px;
}

/*Footer */
footer{
	padding: 10px;
}

.footerlogo{
	text-align: right;
}


/****************************** Dashboard ******************************/

.posting-block{
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
}


//////////////CUSTOM SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $maingreen; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($maingreen, 10%); 
}
/////////////


.card-body {
    min-height: 300px;
}

.flex-nowrap{
	overflow-x: scroll;
}

.referrals-badge{
	width: 100%;
}

.job-title{
	font-size: 20px;
	color: white;
}

.header-collapse{
	background-color: $dkgrey;
}

.editpost {
	color: rgba(164,164,164,1.00);
	font-size: 9px;
}

.scrollcards{
	background-color: $ltgrey;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-white{
	background-color: white;
}

.h-90{
	height: 90%;
}

.h-60{
	height: 60%
}

.h-48{
	height: 48%;
}

.submitted-text{
	margin-bottom: 0px;
	font-size: 10px;
	color: darken($ltgrey, 20%);
}

.applicant-name {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.new-badge{
	margin-top: -5px;
	vertical-align: middle;
	background-color: $ltblue;
}

.view-app-btn{
	background-color: $maingreen;
	border: none;
	&:hover{
		background-color: darken($maingreen, 20%);
	}
}

.collapse-icon{
	color: $maingreen;
	&:hover{
		color: darken($maingreen, 20%);
	}
}

.active-blue{
	color: $medblue!important;
}
.bg-grey{
	background-color: $dkgrey;
}

.dash-wt-link {
	color: white!important;
}

.msg-card {
	background-color: $maingreen;
	color: white;
}

.msg-body{
	min-height: 0;
}

.bluelink{
	color: $medblue;
	&:hover {
        color: lighten($medblue, 20%);
    }
}

.text-maingreen{
	color: $maingreen;
}

//Calendar

.sm-cal{
	max-height: 100%;
	border: none;
}

.cal-box{
	padding: 0px;
}

.date{
	background-color: $ltblue;
}

.month{
	color: white;
	font-weight:800;
	font-size: 25px;
}

.day{
	color: white;
	font-size: 70px;
}

.time{
	color: $ltblue;
	text-align: right;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/****************************** Analytics ********************************/

.bg-lt-grey{
	background-color:rgba(226,226,226,1.00);
	padding: 30px;
}

.large-analytic-row{
	margin-bottom: 20px;
	height: 65%;
}

.sm-analytic-row{
	height: 25%;
}

.sm-data{
	margin-right: 0%;
	padding: 0px;
	max-height: 100%;
}

.card-body{
	min-height: 0px;
}

.dark-list{
	background-color: $dkgrey;
	border-radius: 0px;
	.list-group-item{
		background-color: $dkgrey;
		border-color: black;
		border-right: none;
		border-left: none;
		border-radius: 0px;
		&:hover{
			background-color: lighten($dkgrey, 10%);
		}
	}
}


.settings-icon{
	color: rgba(163,163,163,1.00);
	&:hover{
		color: rgba(100,100,100,1.00);
	}
}

.card-header.data{
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#dataSettingMenu{
	background-color: transparent;
	border: none;
	&:focus{
		background-color: transparent;
		box-shadow: none;
	}
	padding: 0px;
}

#mainbody{
	padding-top: 20px;
}

.dropdown-toggle::after{
	display: none;
}

/*************************** Postings *********************************/


.posting-screen{
	height: 100%;
	background-image: url($greengraphic);
	background-size: 110% 120%;
}

.md-white{
	background-color: #fff;
	padding: 20px;
}

.med-data-row{
	margin-bottom: 20px;
	height: 30%;
}

.post-form-check{
	font-size: 12px;
}

.bg-white{
	background-color: white;
}

.editicon {
	color: $greenblue;
}

.xicon {
	color: $dkgrey;
}

.sm-data-row{
	margin-bottom: 20px;
	height: 30%;
}

#editPosting{
	background-color: transparent;
	border: none;
	&:focus{
		background-color: transparent;
		box-shadow: none;
	}
	padding: 0px;
}

#editPosting2{
	background-color: transparent;
	border: none;
	&:focus{
		background-color: transparent;
		box-shadow: none;
	}
	padding: 0px;
}

#editPosting3{
	background-color: transparent;
	border: none;
	&:focus{
		background-color: transparent;
		box-shadow: none;
	}
	padding: 0px;
}


.posting-screen{
	height: 100%;
	background-image: url($greengraphic);
	background-size: 110% 120%;
}

.input-mysize { 
	height: 50px;
}

.bg-blue{
	background-color: $mainblue;
	color: white;
}

.bg-green{
	background-color: $maingreen;
	color: white;
}


.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0c293d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0c293d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}


.posting-row {
	margin-top:20px;
	margin-bottom: 20px;
	height: 100%;
}

.filter-row {
	
	
}

/********************************** CALENDAR ********************************/
#calendar{
	background-color: white;
	border: solid 20px white;
	border-radius: 5px;
	width: 100%;
	margin: 0px;
}

.h-85{
	height: 85%;
}

.event-box{
	padding-top: 20px;
}

.calheader{
	background-color: $ltblue;
	color: white;
}

.bg-dk-grey{
	background-color: $dkgrey;
	color: white;
}

.new-event-btn{
	border: none;
	background-color: $ltgrey;
}

.daily-events {
}

.fc-event, .fc-event-dot {
    background-color: $maingreen!important;
}

.fc-event{
	border: none!important;
}

.fc-unthemed td.fc-today {
    background: $ltgrey!important;
}


/******************************Career Clusters ********************************/
.finance-cluster{
	color:rgba(37,101,47,1.00);
}

.marketing-cluster{
	color:rgba(103,8,10,1.00);
}

.artcomm-cluster{
	color:rgba(28,35,107,1.00);
}

.info-cluster {
	color:rgba(0,121,141,1.00);
}

/***************************** Media Breakpoints *********************************/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.welcome-card{
		width: 550px;
	}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.action-btn{
		margin-left: 30px;
	}
	.welcome-card{
		width: 725px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.welcome-card {
		width: 950px;
	}
}












